@model Book

<div class="col-md-8">

    <form asp-action="Edit">

        <input type="hidden" asp-for="BookID"/>

        <div>
            <label asp-for="Title" class="label-control"></label>
            <input asp-for="Title" class="form-control"/>
        </div>

        <div>
            <label asp-for="Description" class="label-control"></label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div>
            <label asp-for="Author" class="label-control"></label>
            <input asp-for="Author" class="form-control" />
        </div>

        <div>
            <label asp-for="DatePublished" class="label-control"></label>
            <input asp-for="DatePublished" class="form-control" />
        </div>

        <div>
            <label asp-for="Price" class="label-control"></label>
            <input asp-for="Price" class="form-control" />
        </div>

        <div>
            <label asp-for="Genre" class="label-control"></label>
            <input asp-for="Genre" class="form-control" />
        </div>



        <div>
            <input type="submit" value="Save Changes" class="btn btn-primary"/>
        </div>

    </form>

</div>